.p-100{
    color: #F5FEE7;
}
.p-200{
    color: #E8FEC5;
}
.p-300{
    color: #C0FA73;
}
.p-400{
    color: #57A203;
}
.p-500{
    color: #477A11;
}

.bg-p-100{
    background-color: #F5FEE7;
}
.bg-p-200{
    background-color: #E8FEC5;
}
.bg-p-300{
    background-color: #C0FA73;
}

.n-0{
    color: #FFFFFF;
}
.n-100{
    color: #F8F9FA;
}
.n-200{
    color: #E9ECEF;
}
.n-300{
    color: #DEE2E6;
}
.n-400{
    color: #CED4DA;
}
.n-500{
    color: #ADB5BD;
}
.n-600{
    color: #6C757D;
}
.n-700{
    color: #495057;
}
.n-800{
    color: #343A40;
}
.n-900{
    color: #212529;
}

.bg-n-900{
    background-color: #212529;
}

.fd-100{
    color: #FCF1F1;
}
.fd-200{
    color: #EBA7A7;
}
.fd-300{
    color: #E9ECEF;
}
.fs-100{
    color: #EFF8F4;
}
.fs-200{
    color: #9AD1BA;
}
.fs-300{
    color: #36A375;
}
.fw-100{
    color: #FEF6EC;
}
.fw-200{
    color: #F9C588;
}
.fw-300{
    color: #F38B12;
}
.fi-100{
    color: #EEF5FC;
}
.fi-200{
    color: #97C3ED;
}
.fi-300{
    color: #3087DB;
}