<footer class="footer mt-48 p-mt-24">
    <div class="ad p-ad bg-p-200 d-flex ai-c jc-c">
        <span class="h4 p-h5 fw-700 mr-24 p-mr-16">加入會員取得 9 折優惠</span>
        <button class="ad-btn p-ad-btn n-0 l-md fw-500">馬上註冊</button>
    </div>
    <div class="container mt-64 p-mt-32 d-flex p-fd-c jc-sb ai-c p-ai-fs pb-24">
        <a href="index.html"><img class="logo" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week1/logo.svg" alt="logo"></a>
        <div class="items d-flex p-fd-c">
            <a class="item mr-40 l-md p-m-12" href="products.html">商品列表</a>
            <a class="item l-md p-m-12" href="about.html">品牌故事</a>
        </div>
    </div>
    <div class="copyright p-copyright pt-32 p-mb-32 bt">
        <p class="p-sm mt-32 n-600 fw-400">Copyright ©2025 URBNSTYLE</p>
        <p class="p-sm n-600 fw-400 pb-64 p-pb-32">All Rights Reserved.</p>
    </div>
</footer>