<nav>
    <div class="container d-flex jc-sb ai-c">
        <div class="items d-flex mtb-17 ai-c">
            <a class="mr-48" href="index.html"><img class="logo" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week1/logo.svg" alt="logo"></a>
            <a class="item l-md p-d-none" href="products.html">商品列表</a>
            <a class="item l-md p-d-none" href="about.html">品牌故事</a>
        </div>
        <a href="login.html"><i class="bi bi-person"></i></a>
    </div>
</nav>